.adicionar_filmes{
    font-size: 14px;
    color: white;
    background-color: black;
    border-radius: 40px;
    margin: 0px;
    padding: 80px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

   
    
}

body{
    /* background-image: url(/catalogo-filmes/assets/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
}


h1{
    text-align: center;
}


