@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");
@import url('/Catalogo-filmes/public/css/style.css');

.adicionar_filmes {
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.adicionar_filmes div {
    margin-bottom: 15px;
}

.adicionar_filmes label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.adicionar_filmes input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.adicionar_filmes button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.adicionar_filmes button:hover {
    background-color: #555;
}

h1{
    text-align: center;
}
